
/* COMPUTER SCREEN */
@media only screen and (min-width: 1000px) {
  html, body {
    height: 80%;
    width: 100%;
  }
  body, main {
    height: 100%;
    width: 100%;
    background-color: #c1524c;
  }

  nav .brand-logo {
    padding-left: 2em !important;
  }
  nav {
    border-bottom: 2px solid white;
  }
  #city {
    font-size: .8em;
    text-decoration: underline white;
    -webkit-transform: rotate(-90deg);
  }

  #logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 115%;
    background-color: white;
    background-image: url('pictures/Jessica_Southwick_pop-art-kitchen_pattern.jpg');
    color: white;
  }

  #logo-big {
    font-size: 7rem;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74%;
    height: 60%;
    background-image: url('pictures/hero-background-desktop.jpg');
    border: 30px solid #EE7674;
  }

  h1 {
    font-size: 64px;
  }

  header {
    height: 64px;
  }

  #fav-search-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: .5%;
    background-color: #546A7B;
  }

  #feature-container {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    width: 100%;
    height: 60%;
  }

  #featured {
    width: 100%;
    height: 300px;
    color: white;
  }

  .feat-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width:100%;
  }

  .feat-text-box {
    width: 100%;
    height: 15%;
    background-color: white;
    color: black;
  }

  .featured-btn {
    width: 100%;
    height:20%;
  }

  #featured-restaurants-preview {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .restaurantInfo {
    width:100%;
    height:100%;
    border: 1px solid white;
    margin: 1rem;
    padding: 1rem;
  }

  .restaurantImage {
    width: 90%;
  }

  #anchor {
    width: 100%;
  }

  .food-image {
    align-self: center;
    /*border: 1px solid white;*/
    margin: 2rem;
    border-radius: 10%;
  }

  #search {
    width: 100%;
    height: 400px;
  }

  .search-btn-area {
    width:100%;
  }

  .omelet-search {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .omelet {
    height: 8rem;
  }

  .roseBottle {

  }

  .roseMonth {

  }

  #rose {
    width:50%;
    height: 100%;
    background-image: url('pictures/tumblr_static_5rlt7eg6p1k44s80s0cog04w0.png');
  }

  #search, #rose {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #rose-block {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 70%;
    border: 1px solid black;
  }

  .gif-container {
    width: 50%;
    height: 100%;
    border: 2px solid blue;
  }
}

/* PHONE SCREEN */
@media only screen and (max-width: 415px) {
  html, body {
    height: 80%;
    width: 100%;
  }
  body, main {
    height: 100%;
    width: 100%;
    background-color: #c1524c;
  }

  .fav-search-block {
    margin-top: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  .bottomless-rose-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  .favorites, .bottomless {
    width: 100%;
    height: 180px;
    margin: 0 !important;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .5px solid white;
    background-color: black;
    color: white;
  }

  .search, .rose {
    width: 100%;
    height: 180px;
    margin: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .5px solid white;
    background-color: black;
    color: white;
  }

  .feature-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .featured {
    width: 100%;
    height: 180px;
    border: .5px solid white;
    background-color: black;
    color: white;
  }

}
