
/* COMPUTER SCREEN */
/*@media only screen and (min-width: 1000px) {*/
  html, body {
    height: 80%;
    width: 100%;
  }
  body, main {
    height: 100%;
    width: 100%;
    background-color: white;
  }

  .fryingPan {
    height: 2rem;
    width: auto;
    margin-top: 1.2rem;
  }

  nav .brand-logo {
    padding-left: 2em !important;
  }

  #city {
    font-size: .8em;
    text-decoration: underline white;
    -webkit-transform: rotate(-90deg);
  }

  #logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 115%;
    background-color: white;
    background-image: url('pictures/Jessica_Southwick_pop-art-kitchen_pattern.jpg');
    color: white;
  }

  #logo-big {
    font-size: 7rem;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74%;
    height: 60%;
    background-image: url('pictures/hero-background-desktop.jpg');
    border: 30px solid #EE7674;
  }

  h1 {
    font-size: 64px;
  }

  header {
    height: 64px;
  }

  #fav-search-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: .5%;
    background-color: #546A7B;
  }

  .quote-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 380px;
    background-color: #ee6e73;
    border-bottom: .2rem solid #546A7B;
    border-top: .2rem solid white;
  }

  .quote-section {
    width: 62%;
    height: 80%;
    display: flex;
    justify-content: center;
    background-image: url('pictures/the-last-supper-giovanni-rapiti.jpg');
    color: #FC6DAB;
    border: 2px solid white;
    /*color: white;*/
  }

  .quote-section h3 {
    font-size: 4rem;
    font-family: 'Cedarville Cursive', cursive;
  }

  #feature-container {
    border-bottom: 3px solid white;
    width: 100%;
    height: 60%;
    background-color: #D8DAD3;
  }

  #featured {
    width: 100%;
    height: 300px;
    color: white;
  }

  .feat-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width:100%;
    border-bottom: .2rem solid #546A7B;
  }

  .feat-text-box {
    width: 100%;
    height: 15%;
    background-color: white;
    color: black;
  }

  .featured-btn {
    width: 100%;
    height:20%;
  }

  #featured-restaurants-preview {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .restaurantInfo {
    width:100%;
    height:100%;
    border: 2px solid #546A7B;
    margin: 1rem;
    padding: 1rem;
    background-color: #4A4A48;
    border-radius: 5%;
  }

  .restaurantImage {
    width: 90%;
  }

  #anchor {
    width: 100%;
  }

  .food-image {
    align-self: center;
    margin: 2rem;
    border-radius: 10%;
  }

  #search {
    width: 100%;
    height: 400px;
  }

  .search-btn-area {
    width:100%;
  }

  .omelet-search {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .omelet {
    height: 8rem;
  }

  .roseMonth a {
    font-size: 5rem;
    font-family: 'Cedarville Cursive', cursive;
    color: #FC6DAB;
    margin-left: 4rem;
  }

  #rose {
    width:60%;
    height: 100%;
    background-color: white;
  }

  .roseBottle {
    display: flex;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width:100%;
    height: 80%;
    background-image: url('pictures/wine-sketch.png');
  }

  #search, #rose {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #rose-block {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 70%;
  }

  .gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 90%;
    margin: 5px;
  }

  .giphy {
    width: 100%;
    height: auto;
    max-height: 380px;
    margin: 2px;
    margin-left: 5px;
    border-radius: 5%;
  }

  .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #546A7B;
    margin-top: 30px;
    padding-right: 30px;
    color: white;
  }

  .foot h4 {
    font-family: 'Cedarville Cursive', cursive;
  }

  .register {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .quote h5 {
    margin-left: 4rem;
    font-family: 'Cedarville Cursive', cursive;
    color: #FC6DAB;
  }
/*}*/

/* PHONE SCREEN */
@media only screen and (min-width: 416px and max-width: 1000px) {

  html, body {
    height: 80%;
    width: 100%;
  }

  body, main {
    height: 100%;
    width: 100%;
    background-color: #c1524c;
  }




}
