
/* COMPUTER SCREEN */
@media only screen and (min-width: 1000px) {
  html, body {
    height: 80%;
    width: 100%;
  }
  body, main {
    height: 100%;
    width: 100%;
    background-color: #c1524c;
  }
  nav .brand-logo {
    padding-left: 2em !important;
  }

  #city {
    margin-left: -30%;
    font-size: .8em;
    text-decoration: underline white;
    -webkit-transform: rotate(-90deg);
  }
  #logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    border: 2px solid white;
    background-color: hsla(0, 100%, 30%, 0.9);
    color: white;
  }
  #logo-big {
    font-size: 7rem;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74%;
    height: 80%;
    background-image: url('/Users/kylegibson/galvanize/unit-1/Brunch./pictures/hero-background-desktop.jpg')
  }

  h1 {
    font-size: 64px;
  }

  header {
    height: 64px;
  }

  #fav-search-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 5%;
  }

  #feature-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  #featured {
    width: 100%;
    height: 100px;
    border: 1px solid white;
    background-color: transparent;
  }

  #favorites{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-right: 3em;
    margin-left: 3em;
    border: 1px solid white;
    width: 25%;
    height: 200px;
    border-radius: 50%;
    background-image: url('/Users/kylegibson/galvanize/unit-1/Brunch./pictures/toast heart.png')
  }

  #search {
    width: 100%;
    height: 400px;
    background-color: white;
    background-image: url('/Users/kylegibson/galvanize/unit-1/Brunch./pictures/breakfast-illustration.png')
  }

  #rose {
    width: 50%;
  }

  #search, #rose {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    background-color: transparent;
  }

  #rose-block {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

/* PHONE SCREEN */
@media only screen and (max-width: 415px) {
  html, body {
    height: 80%;
    width: 100%;
  }
  body, main {
    height: 100%;
    width: 100%;
    background-color: #c1524c;
  }

  .fav-search-block {
    margin-top: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  .bottomless-rose-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  .favorites, .bottomless {
    width: 100%;
    height: 180px;
    margin: 0 !important;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .5px solid white;
    background-color: black;
    color: white;
  }

  .search, .rose {
    width: 100%;
    height: 180px;
    margin: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .5px solid white;
    background-color: black;
    color: white;
  }

  .feature-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .featured {
    width: 100%;
    height: 180px;
    border: .5px solid white;
    background-color: black;
    color: white;
  }

}
