nav .brand-logo {
  padding-left: 2em !important;
}

.sticky {
  position: fixed;
  top: 0px;
}

.fryingPan {
  height: 2rem;
  width: auto;
  margin-top: 1.2rem;
}

main {
  margin-bottom: 420px;
}

#city {
  font-size: .8em;
  text-decoration: underline white;
  -webkit-transform: rotate(-90deg);
}

#search-area {
  width: 95%;
  padding-top: 5rem;
  padding-left: 5rem;
}

#foodItems {
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;
  margin-top: 5rem;
  margin-left: 1rem;
}

.food-container {
  width: 32%;
  padding: 1.5rem;
  margin: .2rem;
  border: .5px solid black;
}

.linkLogo {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  color: red;
}

.logo {
  width: 50%;
  align-self: flex-end;
}

.link {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

.price-locale {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: #546A7B;
  margin-top: 30px;
  padding-right: 30px;
  /*color: #FC6DAB;*/
  color: white;
}

.foot h4 {
  font-family: 'Cedarville Cursive', cursive;
}

.register {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.quote h5 {
  margin-left: 4rem;
  font-family: 'Cedarville Cursive', cursive;
  color: #FC6DAB;
}
