nav .brand-logo {
  padding-left: 2em !important;
}

#city {
  font-size: .8em;
  text-decoration: underline white;
  -webkit-transform: rotate(-90deg);
}

#rose {
  display: flex;
  justify-content: center;
  align-items: center;
}

.roseOfTheMonth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem;
}
