nav .brand-logo {
  padding-left: 2em !important;
}

#city {
  font-size: .8em;
  text-decoration: underline white;
  -webkit-transform: rotate(-90deg);
}

.fryingPan {
  height: 2rem;
  width: auto;
  margin-top: 1.2rem;
}

#rose {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  margin-bottom: 12.5rem;
  height: 400px;
}

.description {
  display: flex;
  background-image: url('../pictures/Kaya-winery-home-7a.png');
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.roseOfTheMonth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  flex-direction: row;
  flex-flow: wrap;
  width: 30%;
}

.wineNameDiv {
  display: flex;
  align-items: flex-start;
  margin: 3rem;
}

.spaceDiv {
  /*display: flex;*/
  /*align-items: flex-end;*/
  margin: 3rem;
}

.wineImage {
  height: 15rem;
  width: 15rem;
  margin: 1rem;
}

.foot {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
  background-color: #546A7B;
  margin-top: 55px;
  padding-right: 30px;
  /*color: #FC6DAB;*/
  color: white;
}
.foot h4 {
  font-family: 'Cedarville Cursive', cursive;
}
